<nav class="text-xs py-2 mb-5 capitalize" aria-label="Breadcrumb">
  <ul class="list-none p-0 flex flex-wrap">
    <% breadcrumbs.each_with_index do |breadcrumb, index| %>
      <li class="flex items-center">
        <%= link_to breadcrumb[:text], breadcrumb[:path], class: "flex justify-center items-center gap-2 hover:underline #{index == breadcrumbs.length - 1 ? 'dark:text-gray-100 text-gray-500' : 'dark:text-gray-300 text-gray-800'}" %>
        <% if index != breadcrumbs.length - 1 %>
          <i class="fas fa-chevron-right dark:text-gray-50 text-gray-800 mx-2"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>