<div class="flex flex-col pt-10 items-center fixed inset-0 right-1/2 text-sm z-10 hidden capitalize bg-gray-50 shadow-lg p-4" id='mobile-menu'>
    <ul class="flex flex-col space-y-10">
      <li class="hover:underline hover:text-primarySunset"over:underline hover:text-primarySunset">
        <%= link_to 'Tractors', root_path, class: 'hover:underline' %>
      </li class="hover:underline hover:text-primarySunset"over:underline hover:text-primarySunset">

      <li class="hover:underline hover:text-primarySunset">
        <%= link_to 'Implements', '#', class: 'hover:underline' %>
      </li>

      <li class="hover:underline hover:text-primarySunset">
       <%= link_to 'Spare Parts', '#', class: 'hover:underline' %>
      </li>

      <li class="hover:underline hover:text-primarySunset">
        <%= link_to 'Operators & Technicians', '#', class: 'hover:underline' %>
      </li>
    </ul>
</div>