<div class="container">
  <%= render 'components/breadcrumb', breadcrumbs: [
    {text: 'Home', path: root_path},
    {text: 'Dealers', path: dealers_path},
    {text: "Edit Dealer {@dealer.name}"}
  ] %>

  <%= render 'dealers/form', dealer: @dealer %>
</div>