<div class="container">
 <div class="flex lg:flex-row flex-col justify-between items-center">
    <h1 class="text-xl font-bold">Hello <%= current_user.name %></h1>
    <%= render 'components/dropdown', title: 'Actions', icon_class: 'fa-solid fa-caret-down', items: seller_dropdown_items %>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-6">
    <% seller_dashboard_items.each do |item| %>
      <%= render 'dashboards/dashboard_card', item: item %>
    <% end %>
  </div>
</div>
