@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir';
  src: url('<%= asset_path("fonts/avenir/AvenirLTStd-Black.otf") %>')
    format('opentype');
}

:root {
  --background: 218 65% 100%;
  --foreground: 218 69% 2%;
  --muted: 188 35% 92%;
  --muted-foreground: 188 11% 36%;
  --popover: 0 0% 99%;
  --popover-foreground: 218 69% 1%;
  --card: 0 0% 99%;
  --card-foreground: 218 69% 1%;
  --border: 218 10% 95%;
  --input: 218 10% 95%;
  --primary: 13.8 100% 60.78%;
  --primary-foreground: 218 47% 99%;
  --secondary: 300 43.28% 26.27%;
  --secondary-foreground: 0 0% 100%;
  --accent: 193.47 73.13% 39.41%;
  --accent-foreground: 248 47% 99%;
  --destructive: 13 98% 27%;
  --destructive-foreground: 13 98% 87%;
  --ring: 218 47% 39%;
  --radius: 0.5rem;
}

@layer components {
  html {
    scroll-behavior: smooth;
    @apply font-manrope text-secondaryCharcoal dark:text-white md:text-base text-sm;
  }

  .btn-primary {
    @apply bg-primarySunset text-white hover:text-primarySunset px-4 py-2 rounded-full hover:bg-transparent border border-primarySunset transition duration-300 flex items-center ;
  }

  .btn-secondary {
    @apply bg-secondaryPlum text-white hover:text-secondaryPlum px-4 py-2 rounded-full hover:bg-transparent border border-secondaryPlum transition duration-300 flex items-center cursor-pointer;
  }

  .btn-outline {
    @apply border border-secondaryCharcoal text-secondaryCharcoal hover:bg-secondaryCharcoal hover:text-white px-4 py-2 rounded-full transition duration-300 flex items-center cursor-pointer;
  }

  .form-input {
    @apply border border-secondaryCharcoal px-4 py-2 rounded-md bg-transparent;
  }

  .dropzone {
    @appl flex flex-wrap gap-5;
  }

  .dropzone-msg-title {
    @apply flex gap-5 py-3 lg:w-[62vw];
  }

  .dropzone-msg{
    @apply rounded-md border border-secondaryCharcoal border-dashed lg:w-[62vw];
  }
}