<div id="flash" class="absolute top-2 lg:right-56 z-50 w-fit shadow-lg rounded">
  <% flash.keys.each do |k| %>
    <div class="sm:px-20 px-3 py-6 shadow-md flex justify-center rounded-md items-center gap-4 border-l-1 text-sm relative <%= notification_class(k) %>">
      <i class="<%= notification_icon(k) %> text-xl"></i>
      <div id="progress-bar" class="h-1 absolute bottom-0 left-0 <%= progress_bar_background(k)%>"></div>
      <%= flash[k] %>
      <div class="cursor-pointer" onclick="document.getElementById('flash').classList.add('hidden')">
        <i class="fa-solid fa-square-xmark text-xl"></i>
      </div>
    </div>
  <% end %>
</div>